    /******CSS por Sr @01Comandos - 08/11/2014 ******/

@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'Gloria';
    src: url('../fonts/GloriaHallelujah.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefina-Bold';
    src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefina-Regular';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roddy-Regular';
    src: url('../fonts/roddy_0.ttf') format('truetype');
}

@font-face{
    font-family: 'Roddy-Bold';
    src: url('../roddybold_0.ttf') format('truetype');
}
figure{
    margin: 0;
    vertical-align: top;
}


/*********************************************************************
*********************** INDEX ***************************************/

/****** BOTONES SUPERIORES - REGISTROS - LOGIN - CARRITO *******/
.botones-superiores {
    float: right;
    top: 10px;   
    position: relative;
}

.botones-superiores button{
    height: 35px;
    background: #232a30;
    margin-right: 5px;
    border-radius: 0px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.botones-superiores button img{
    margin-bottom: 5px;
    margin-right: 3px;
}

.botones-superiores button:hover{
    background: #8b66a5;
    color: #ffffff;
}
/************************************************************/
#main-logo{
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 1em;
}


/****** NAVEGACIÓN *******/
.menu-principal{
    margin-right: 0;
    margin-top: 30px;
}

.menu-principal span{
    color: #d72966;
}

.menu-principal li{
    display: inline-block;
    padding-right: 2em;
}

.menu-principal li a{
    color: #262626;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* ----- VENTANA MODAL LOGIN -----*/
#ingresa{
    z-index: 1;
}

.modal-backdrop.fade.in{
    z-index: 3;
}

#modal-ingresar{
    margin-top: 8em;
    position: fixed;
}

#boton-cerrar-modal{
    position: absolute;
    top: 0.3em;
    right: 0;
}

.titulo-login{
    text-align: left;
    margin-left: 3em;
    font-family: 'Josefina-Bold';
    font-size: 18px;
    color: #d72966;
    padding-bottom: 1em;
}

.formulario-login form input{
    margin-left: 3px;
    text-indent: 15px;
    width: 241px;
    height: 41px;
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.btn-login{
    text-align: center;
    margin-bottom: 2em;
}

#boton-login{
    background: #d72966;
    border-bottom: 3px solid #b71e54;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
    width: 8em;
    text-indent: 0;
}

.pie-modal{
    border-top: 1px dashed #969696;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.pie-modal span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.pie-modal a, .contrasena a{
    color: #d72966;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}
/* ------ SLIDE PRINCIPAL ------*/
.carousel-indicators .active{
    background: #d72966;
    border: #d72966;
    width: 1em;
    height: 1em;
}

.carousel-indicators li{
    width: 1em;
    height: 1em;
}

#miSlide a{
    background: #d3004f;
    width: 3em;
    height: 3em;
    margin-top: 10em;
}
/* ------- CUERPO ------*/
.titulo-index{
    text-align: center;
    padding-top: 2em;
}

.titulo-index h1{
    color: #d72966;
    font-weight: bold;
    font-family: 'Roddy-Regular';
}

.categorias-index, .categorias-categorias{
    margin-top: 1.5em;
    margin-bottom: 3em;
    text-align: center;
    position: relative;
}

.categorias-index:before{
    background: #cdcdcd;
    content: "";
    top: 0.8em;
    left: 0;
    position: absolute;
    width: 30%;
    height: 2px;    
}

.categorias-index:after{
    background: #cdcdcd;
    content: "";
    top: 0.8em;
    right: 6em;
    position: absolute;
    width: 20%;
    height: 2px;
}

.categorias-index li, .categorias-categorias li{
    border-right: 2px solid #636363;
    display: inline-block;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

#ultimo-categoria{
    border-right: 0;
}
.categorias-index li a, .categorias-categorias li a{
    color: #636363;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto-Condensed',sans-serif;
    text-decoration: none;
}

.categorias-index li a:active, .categorias-categorias li a:active{
    color: #d72966;
}

.categorias-index li a:hover, .categorias-categorias li a:hover{
    color: #d72966;
}

.controles-index{
    text-align: right;
    margin-top: 1em;
    position: absolute;
    right: 0;
    top: 0;
}

.controles-index span{
    background: #d72966;
    border: 2px solid #e7727e;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0.6em;
    width: 3em;
    height: 2.5em;
}

.controles-index a span:hover{
    background-color: #e50f5f;
}

/* ------ PRODUCTOS ------*/
.listado-productos{
    margin-bottom: 2em;
}

.producto{
    margin-bottom: 2.5em;
    position: relative;
}

.etiqueta-nuevo{
    color: #ffffff;
    background: #d72966;
    border-radius: 50%;
    padding: 0.7em 0em 0em 0em;
    position: absolute;
    top: 1em;
    right: 3.7em;
    width: 3.2em;
    height: 3.2em;
    z-index: 1;
}

.etiqueta-nuevo span{
    font-size: 0.7em !important;
    font-family: 'Roboto-Condensed',sans-serif;
    font-weight: bold;    
}

.producto figure{
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    z-index: 2;
}

.producto span{
    font-family: 'Josefina-Regular';
    font-size: 1.2em;
}

.stock-etiqueta{
    background-color: #ff5335;
    color: #ffffff;
    font-family: 'Roboto-Condensed',sans-serif;
    font-size: 0.8em !important;
    font-weight: bold;
    padding: 0.3em;
}

.precio{
    color: #d72966;
    font-family: 'Roboto-Condensed',sans-serif;
    font-weight: bold !important;
    font-size: 1.3em !important;
}

.empaquetado{
    background: #f1f1f1;
    padding-bottom: 1em;
    width: 17em;
    
}

/* ------ NEWSLETTER ------*/
.newsletter{
    background: #e5e5e5;
    border-bottom: 10px solid #d72966;
    z-index: 1;
} 

.letritas{
    text-align: center;
    margin-top: 30px;
}

.letritas h3{
    font-size: 24px;
    font-family: 'Gloria';
}

.formulario-newsletter{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

.formulario-newsletter form input{
    text-indent: 15px;
    width: 241px;
    height: 45px;
    z-index: 45;
    border: 0;
    border-radius: 3px;
    background-color: #ffffff;
    border-bottom: #a0a0a0;
}

#boton-suscribir{
    width: auto;
    margin-left: 20px;
    text-indent: 0px;
    background: #f15a29;
    border-bottom: 4px solid #c33709;
    border-radius: 5px 5px 5px 5px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #6b022a;
}

.imagen-ciencia{
    z-index: 2;
    margin-bottom: -20px;
    padding-top: 20px;
}



/*********************************************************************
*********************** FOOTER ***************************************/
footer{
    background: #3e3e40;
}

.logo-footer{
    padding-top: 15px;
}

.social{
    padding-top: 15px;
}

#titulo-sociales{
    color: #ffffff;
    text-align: center;
    font-family: 'Gloria';
}

.social-media{
    display: inline-block;
    margin-left: 30px;
}

#derechos-reservados{
    text-align: center;
    font-family: 'Gloria';
    color: #ffffff;
}



/*********************************************************************
*********************** INSCRIBETE.PHP ***************************************/
/** HEADER **/
.logo-inscribete{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.seccion-formulario{
    background: #eeeeee;
}

.Contenedor-General{
    background: #ffffff;
    margin-top: 55px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 1.5px 2.598px 1px 0.9px rgb( 150, 150, 150 );
    padding: 0;
}

.titulo-formulario{
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
    font-family: 'Josefina-Bold';
    font-size: 18px;
    color: #d72966;
}


.subtitulo-formulario{
    text-align: left;
}

.subtitulo-formulario span{
    font-family: 'JosefinSans-Regular';
    font-size: 13px;
    margin-left: 30px;
}

.formulario{
    padding-top: 15px;
    padding-bottom: 40px;
}

.etiqueta-formulario{
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
}

.formulario form input{
    margin-left: 3px;
    text-indent: 15px;
    width: 241px;
    height: 41px;
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.contrasena span{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d72966;
}

#documento-identidad{
    width: 150px;
}

.seccion-documento{
    text-align: center;
}

.btn-inscripcion{
    text-align: center;
    margin: 0;
}

#boton-inscribirme{
    background: #d72966;
    border-bottom: 3px solid #b71e54;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
    width: 8em;
    text-indent: 0;
}


/*********************************************************************
*********************** CARRITO ***************************************/

/****** BOTONES SUPERIORES - REGISTRADO - CARRITO *******/
.botones-superiores-registrado {
    float: right;
    top: 10px;   
    position: relative;
}

.botones-superiores-registrado button{
    height: 35px;
    background: #199a80;
    margin-right: 5px;
    border-radius: 0px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    border: 0;
}

.botones-superiores-registrado button img{
    margin-bottom: 5px;
    margin-right: 3px;
}

.botones-superiores-registrado button:hover{
    background: #1cae91;
    color: #ffffff;
}
/************************************************************/

.titulo-carrito{
    background-color: #1b3c45;
}

.usuario-carrito-banner{
    padding: 1em;
}
.usuario-carrito-banner h2{
    color: #ffffff;
    font-family: 'Roddy-Regular';
    font-size: 28px;
}

.cuerpo-carrito{
    background: #eeeeee;
}

.botones-principales-carrito button{
    background: #f95133;
    border: 0;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0.4em;
    width: auto;
}

.botones-principales-carrito button:hover{
    background-color: #e63e20;
}

.botones-principales-carrito.total-carrito button{
    background-color: red;
}

/************ CUERPO CARRITO **********/
.articulo-carrito{
    background-color: #ffffff;
    margin-bottom: 1em;
    margin-right: 0.5em;
}




/*********************************************************************
*********************** CONTACTO ***************************************/
.contacto-section{
    background: url('../img/contacto-textura.jpg');
    border-top: 8px solid #d72966;
    border-bottom: 8px solid #d72966;
}

.contacto-titulo{
    margin-top: 3em;
    margin-bottom: 3em;
}

.contacto-titulo h1{
    font-family: 'Josefina-Regular';
    font-size: 40px;
}

.contacto-titulo h4{
    color: #f95133;
    font-family: 'Gloria';
    font-size: 16px;
    margin-top: -0.5em;
}

.contacto-formulario form input{
    text-indent: 15px;
    width: 20em;
    height: 3.2em;
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.contacto-formulario form textarea{
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    text-indent: 15px;
    width: 20em;
}

.nombre-contacto, .asunto-contacto, .mensaje-contacto{
    text-align: right;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

.email-contacto, .recaptcha-contacto{
    margin-bottom: 0.5em;
    margin-left: 2em;
}

#nombre-contacto, #asunto-contacto, #mensaje-contacto{
    margin-left: -0.3em;
}

.nombre-contacto figure{
    background-color: #048acc;
    display: inline-block;
    padding: 0.5em;
}

.asunto-contacto figure{
    background-color: #13ab7f;
    display: inline-block;
    padding: 0.5em;
}

.asunto-contacto figure img{
    width: 30px;
}

.mensaje-contacto figure{
    background-color: #91be11;
    padding: 0.5em;
    height: 4.5em;
    width: 3.1em;
    display: inline-block;
}

#mensaje-contacto{
    height: 4.5em;
}

.email-contacto figure{
    background-color: #f9b21b;
    padding: 0.5em 0.5em;
    float: left;
    height: 3.2em;
}

#mensaje-contacto{
    height: 4.5em;
    padding: 12px 14px;
    text-indent: 0;
}
.recaptcha-contacto{
    color: #ffffff;
    text-align: center;
    background-color: #f95133;
    width: 23em;
    height: 8.5em;
}

#boton-contacto-enviar{
    background: #f95133;
    border-bottom: 3px solid #e13c1e;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
    width: 8em;
    text-indent: 0;
    margin-bottom: 4em;
}

/*********************************************************************
*********************** CATEGORIAS.PHP ***************************************/
