    /******CSS por Sr @01Comandos - 08/11/2014 ******/

@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'Gloria';
    src: url('../fonts/GloriaHallelujah.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefina-Bold';
    src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefina-Regular';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}


/*********************************************************************
*********************** INDEX ***************************************/

/****** BOTONES SUPERIORES - REGISTROS - LOGIN - CARRITO *******/
.botones-superiores {
    float: right;
    top: 10px;   
}

.botones-superiores button{
    height: 35px;
    background: #232a30;
    margin-right: 5px;
    border-radius: 0px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.botones-superiores button img{
    margin-bottom: 5px;
    margin-right: 3px;
}

.botones-superiores button:hover{
    background: #8b66a5;
    color: #ffffff;
}
/************************************************************/
#main-logo{
    text-align: center;
    margin: 0;
    margin-top: 10px;
}


/****** NAVEGACIÓN *******/
.home-icono{
    margin-top: 25px;
}

.menu-principal{
    margin: 0 1em 0 1em;s
    float: right;
}

.menu-principal li{
    display: inline-block;
    padding-right: 2em;
}

.menu-principal li a{
    color: #262626;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}




/* ------ NEWSLETTER ------*/
.newsletter{
    background: #e5e5e5;
    border-bottom: 10px solid #d72966;
    z-index: 1;
} 

.letritas{
    text-align: center;
    margin-top: 30px;
}

.letritas h3{
    font-size: 24px;
    font-family: 'Gloria';
}

.formulario-newsletter{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

.formulario-newsletter form input{
    text-indent: 15px;
    width: 241px;
    height: 45px;
    z-index: 45;
    border: 0;
    border-radius: 3px;
    background-color: #ffffff;
    border-bottom: #a0a0a0;
}

#boton-suscribir{
    width: auto;
    margin-left: 20px;
    text-indent: 0px;
    background: #f15a29;
    border-bottom: 4px solid #c33709;
    border-radius: 5px 5px 5px 5px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #6b022a;
}


.imagen-ciencia{
    z-index: 2;
    margin-bottom: -20px;
    padding-top: 20px;
}



/*********************************************************************
*********************** FOOTER ***************************************/
footer{
    background: #3e3e40;
}

.logo-footer{
    padding-top: 15px;
}

.social{
    padding-top: 15px;
}

#titulo-sociales{
    color: #ffffff;
    text-align: center;
    font-family: 'Gloria';
}

.social-media{
    display: inline-block;
    margin-left: 30px;
}

#derechos-reservados{
    text-align: center;
    font-family: 'Gloria';
    color: #ffffff;
}



/*********************************************************************
*********************** INSCRIBETE.PHP ***************************************/
/** HEADER **/
.logo-inscribete{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.seccion-formulario{
    background: #eeeeee;
}

.Contenedor-General{
    background: #ffffff;
    margin-top: 55px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 1.5px 2.598px 1px 0.9px rgb( 150, 150, 150 );
    padding: 0;
}

.titulo-formulario{
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
    font-family: 'Josefina-Bold';
    font-size: 18px;
    color: #d72966;
}


.subtitulo-formulario{
    text-align: left;
}

.subtitulo-formulario span{
    font-family: 'JosefinSans-Regular';
    font-size: 13px;
    margin-left: 30px;
}

.formulario{
    padding-top: 15px;
    padding-bottom: 40px;
}

.etiqueta-formulario{
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
}

.formulario form input{
    margin-left: 3px;
    text-indent: 15px;
    width: 241px;
    height: 41px;
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.contrasena span{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d72966;
}

#documento-identidad{
    width: 150px;
}

.seccion-documento{
    text-align: center;
}

.btn-inscripcion{
    text-align: center;
    margin: 0;
}

#boton-inscribirme{
    background: #d72966;
    border-bottom: 3px solid #b71e54;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
    width: 8em;
    text-indent: 0;
}
